<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .button-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            padding-left: 20px;
            padding-top: 10px;
        }
    </style>
</head>
<body>
<div class="button-container">
    <button type="button" class="btn btn-primary" onclick="location.href='/sdweb/'">返回首页</button>
</div>
<div>{{.Success}}</div>
</body>
</html>